<div class="selectBox">
    <h1>Selecciona económico de ingreso a graficar</h1>

    <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="form-group">
            <select formControlName="ecoIng" class="select">
                <option>Selecciona económico</option>
                <option *ngFor="let eco of ecoArray">{{eco.Eco}} {{eco.DesEco}}</option>
            </select>
            <div *ngIf="f.ecoIng.touched && f.ecoIng.invalid" class="alert alert-danger">
                <div *ngIf="f.ecoIng.errors.required">Es necesario seleccionar un económico.</div>
            </div>
        </div>

        <button class="btn btn-primary mt-4" type="submit" [disabled]="!form.valid">Ver grafico</button>
    </form>
</div>