<div class="OCM-indice">

  <h3 class=" OCM-text--cabecera OCM-text--cabecera--años">Selecciona año a mostrar.</h3>
  <div class="OCM-row--add">
    <ul class="list-group list-group-horizontal">
      <li class="OCM-no-bullets" *ngFor="let item of yearsList">
        <input type="radio" [(ngModel)]="radioSelected" name="list_name" value="{{item.year}}"
          (change)="onItemChange()" />
        {{item.year}}
      </li>
    </ul>
  </div>

  <h3 class="OCM-text--cabecera OCM-text--cabecera--ingresos">Ingresos.</h3>
  <div class="OCM-row--add">

    <div class="OCM-card--empty">
    </div>

    <div class="OCM-card">
      <div class="OCM-card__headerImage">
        <a routerLink="/Ingresos">
          <img class="img" src="assets/img/Ingresos.png" />
        </a>
      </div>
    </div>

    <div class="OCM-card--empty">
    </div>

  </div>
  <br>
  <br>

  <h3 class="OCM-text--cabecera OCM-text--cabecera--gastos">Gastos.</h3>
  <div class="OCM-row--add">

    <div class="OCM-card--empty">
    </div>

    <div class="OCM-card">
      <div class="OCM-card__headerImage">
        <a (click)="porCapitulo()">
          <img class="img" src="assets/img/Capitulo.png" />
        </a>
      </div>
    </div>

    <div class="OCM-card--empty">
    </div>

  </div>
  <br>

  <div class="OCM-row--add">
    <div class="OCM-card">
      <div class="OCM-card__headerImage">
        <a (click)="porOrganico()">
          <img class="img" src="assets/img/PorOrganico.png" />
        </a>
      </div>
    </div>

    <div class="OCM-card">
      <div class="OCM-card__headerImage">
        <a (click)="porPrograma()">
          <img class="img" src="assets/img/PorPrograma.png" />
        </a>
      </div>
    </div>

    <div class="OCM-card">
      <div class="OCM-card__headerImage">
        <a (click)="porEconomico()">
          <img class="img" src="assets/img/PorEconomico.png" />
        </a>
      </div>
    </div>
  </div>
</div>