<div class="divIndice">

  <div class="rowStyle">

    <div class="col-4 col-offset-1">
      <div>
        <h4> Selecciona año a mostrar</h4>
      </div>

      <div class="col-12">
        <div>
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let item of yearsList">
              <input type="radio" [(ngModel)]="radioSelected" name="list_name" value="{{item.year}}"
                (change)="onItemChange()" />
              {{item.year}}

            </li>
          </ul>
        </div>
      </div>
      <!-- <h5>{{radioSelectedString}}</h5> -->
    </div>
  </div>


  <h3 class="rowTexto" style="color: rgb(98, 146, 25)">Ingresos.</h3>
  <div class="rowStyle">
    <div class="card">
      <div class="cardHeaderImage">
        <a routerLink="/Ingresos">
          <img class="img" src="assets/img/Ingresos.png" />
        </a>
      </div>
    </div>
  </div>
  <h3 class="rowTexto" style="color: red">Gastos.</h3>
  <div class="rowStyle" style="padding-bottom: 60px">

    <div class="card">
      <div class="cardHeaderImage">
        <a (click)="porCapitulo()">
          <img class="img" src="assets/img/Capitulo.png" />
        </a>
      </div>
    </div>
  </div>

  <div class="rowStyle">
    <div class="card">
      <div class="cardHeaderImage">
        <a (click)="porOrganico()">
          <img class="img" src="assets/img/PorOrganico.png" />
        </a>
      </div>
    </div>

    <div class="card">
      <div class="cardHeaderImage">
        <a (click)="porPrograma()">
          <img class="img" src="assets/img/PorPrograma.png" />
        </a>
      </div>
    </div>

    <div class="card">
      <div class="cardHeaderImage">
        <a (click)="porEconomico()">
          <img class="img" src="assets/img/PorEconomico.png" />
        </a>
      </div>
    </div>
  </div>
</div>