/* https://www.w3schools.com/cssref/css_selectors.asp */
// https://fixu.cl/que-es-la-metodologia-bem-y-como-se-aplica-al-front-end/

.OCM-indice {
  padding-top: 3rem;
  height: 80vh;
}

/* Como CSS no tiene la propiedad background.opacity
insertamosun seudo elemento con el mismo tamaño. */
.OCM-indice::after {
  content: "";
  background: url("../../assets/img/textura.jpg");
  opacity: 0, 5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.OCM-text {
  &--cabecera {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-weight: 900;
    margin-top: 1rem;
    color: black;
    font-family: var(--fuente-principal);
    // https://css-tricks.com/linearly-scale-font-size-with-css-clamp-based-on-the-viewport/
    font-size: clamp(1rem, -0.875rem + 8.333vw, 3.5rem);
    // font-size: 4.2rem;
    text-shadow: 0.4rem 0.4rem 0.4rem #aaa;
    text-align: center;
  }
  &--años {
    color: rgb(47, 0, 255);
    margin-bottom: 0.2rem;
  }

  &--ingresos {
    color: rgb(98, 146, 25);
  }

  &--gastos {
    color: red;
  }
}

.OCM-row {
  &--add {
    display: flex;
    margin: 1rem;
    justify-content: center;
    text-align: center;
  }
}

.OCM-no-bullets {
  list-style-type: none;
  font-size: clamp(0.6rem, -1.275rem + 8.333vw, 2rem);
  font-weight: 900;
  margin-right: 2rem;
  margin-bottom: 4rem;
}

/* https://www.w3schools.com/bootstrap4/bootstrap_cards.asp */
.OCM-card {
  display: flex;
  justify-content: space-around;
  margin-bottom: 0.3rem;
  margin-top: 2rem;
  border-radius: 0.6rem;
  color: rgba(0, 0, 0, 0.87);
  background: #fff;
  width: 100%;
  box-shadow: 1rem 1rem 0.5rem 0px rgba(0, 0, 0, 0.75);
  margin-left: 2rem;
  margin-right: 2rem;
  max-width: 30rem;
  max-height: 21.5rem;
  min-width: 10rem;
  min-height: 0.5rem;
  text-align: center;

  &__title {
    font-weight: 700;
    margin-top: 1rem;
    color: #3c4858;
    font-family: var(--fuente-principal);
    font-size: 1.4rem;
    text-shadow: 0.4rem 0.4rem 0.4rem #aaa;
    text-align: center;
  }

  &__headerImage {
    position: relative;
    padding: 0;
    z-index: 1;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-top: -3rem;
    border-radius: 0.6rem;
    max-height: 21.5rem;
    img {
      width: 100%;
      height: 100%;
    }
  }

  &--empty {
    width: 100%;
  }
}
