<div class="OCM-indice">
  <hr style="color : white">

  <h3 class=" OCM-text--cabecera OCM-text--años">Selecciona año a mostrar</h3>
  <div class="OCM-row--add">
    <ul class="list-group list-group-horizontal">
      <li class="OCM-no-bullets" *ngFor="let item of yearsList">
        <input type="radio" [(ngModel)]="radioSelected" name="list_name" value="{{item}}" (change)="onItemChange()" />
        {{item}}
      </li>
    </ul>
  </div>

  <h3 class="OCM-text--cabecera OCM-text--ingresos">Ingresos</h3>
  <div class="OCM-row--add">

    <div class="OCM-card--empty">
    </div>

    <div class="OCM-card">
      <a (click)="porIngresos()">
        <span class="OCM-card__title">Por capítulos</span>
      </a>
    </div>

    <div class="OCM-card--empty">
    </div>

  </div>
  <br>

  <h3 class="OCM-text--cabecera OCM-text--gastos">Gastos</h3>
  <div class="OCM-row--add">

    <div class="OCM-card--empty">
    </div>

    <div class="OCM-card">
      <a (click)="porCapitulo()">
        <span class="OCM-card__title">Por capítulos</span>
      </a>
    </div>

    <div class="OCM-card--empty">
    </div>

  </div>

  <div class="OCM-row--add">
    <div class="OCM-card">
      <a (click)="porOrganico()">
        <span class="OCM-card__title">Por organico</span>
        <span class="OCM-card__title">¿Quién lo gasta?</span>
      </a>
    </div>

    <div class="OCM-card">
      <a (click)="porPrograma()">
        <span class="OCM-card__title">Por programa</span>
        <span class="OCM-card__title">¿Para qué se gasta?</span>
      </a>
    </div>

    <div class="OCM-card">
      <a (click)="porEconomico()">
        <span class="OCM-card__title">Por económico</span>
        <span class="OCM-card__title">¿En qué se gasta?</span>
      </a>
    </div>
  </div>
  <br>
  <br>
  <br>

  <h3 class="OCM-text--cabecera OCM-text--comparativas">Comparativas años anteriores</h3>

  <h3 class="OCM-text--cabecera OCM-text--ingresos">Ingresos.</h3>
  <div class="OCM-row--add">

    <div class="OCM-card">
      <a (click)="comparaIng()">
        <span class="OCM-card__title">Por capítulos</span>
      </a>
    </div>

    <div class="OCM-card">
      <a (click)="comparaIngEco()">
        <span class="OCM-card__title">Por económicos</span>
      </a>
    </div>

  </div>
  <br>

  <h3 class="OCM-text--cabecera OCM-text--gastos">Gastos.</h3>

  <div class="OCM-row--add">

    <div class="OCM-card--empty">
    </div>

    <div class="OCM-card">
      <a (click)="comparaCap()">
        <span class="OCM-card__title">Por capítulos</span>
      </a>
    </div>

    <div class="OCM-card--empty">
    </div>

  </div>

  <div class="OCM-row--add">

    <div class="OCM-card">
      <a (click)="comparaOrg()">
        <span class="OCM-card__title">Por organico</span>
      </a>
    </div>

    <div class="OCM-card">
      <a (click)="comparaPro()">
        <span class="OCM-card__title">Por programa</span> </a>
    </div>

    <div class="OCM-card">
      <a (click)="comparaEco()">
        <span class="OCM-card__title">Por económico</span>
      </a>
    </div>

  </div>

  <!-- <div class="OCM-row--add">
    <div class="OCM-card--empty">
    </div>

    <div class="OCM-card">
      <a (click)="comparaOPA()">
        <span class="OCM-card__title">Por OPA</span>
        <span class="OCM-card__title">Facturas en el cajon de cada año</span>
      </a>
    </div>

    <div class="OCM-card--empty">
    </div>

  </div> -->

</div>