$OCM-colors: (
    primario: #da595e,
    obscuro: #484848,
    claro: #ffffff,
    navBarBackground: #007bff,
    navBarDarkBackground: #303133,
    navBarText: hsl(355, 100%, 50%),
);

$fuente-principal: "Roboto", serif;
