<div>
    <h4 class="OCM-text--cabecera">Comparativa gastos liquidaciones {{
        _avalaibleYearsService.getAvalaibleYear() | async }}</h4>
    <button type="button" class="btn OCM-btnExpand" (click)="showGraph()">Mostrar gráfico</button>
    <button type="button" class="btn OCM-btnExpand" (click)="showGraphTree()">Gráfico arbol</button>
    <ag-grid-angular #agGrid style="width: 100%; height: 90vh; padding-right: 20px; margin-left: 10px"
        class="ag-theme-balham" [rowData]="rowData" [columnDefs]="columnDefs" [defaultColDef]="defaultColDef"
        rowSelection="multiple" [groupSuppressAutoColumn]="true" [groupIncludeFooter]="true"
        [groupIncludeTotalFooter]="true" [groupHeaderHeight]="groupHeaderHeight" [headerHeight]="headerHeight"
        [localeText]="localeText" [suppressAggFuncInHeader]="true" [rowSelection]="rowSelection"
        (gridReady)="onGridReady($event)" (firstDataRendered)="headerHeightSetter()"
        (columnResized)="headerHeightSetter()">
    </ag-grid-angular>
</div>