<nav class="OCM-navbar">

  <div class="OCM-navbar--brand">
    <div class="OCM-navbar--brand--logo">
      <a href="http://ocmjerez.org"></a>
    </div>
    <div class="OCM-navbar--brand--text">
      Observatorio Ciudadano Municipal de Jerez
    </div>
  </div>

  <div class="OCM-navbar--titulo">
    Liquidación presupuesto {{ year | async }}
  </div>

  <div *ngIf="router.url === '/home'"></div> <!-- Esto es para centrar el titulo -->

  <div class="flex-shrink-1">
    <a routerLink="/" *ngIf="router.url !== '/home'">
      <i class="OCM-logoHome" aria-hidden="true"></i>
    </a>
  </div>

</nav>