@import "/src/app/scss/animations";
@import "/src/app/scss/base";
@import "/src/app/scss/functions";
@import "/src/app/scss/mixins";
@import "/src/app/scss/typography";
@import "/src/app/scss/utilities";
@import "/src/app/scss/variables";

.OCM-navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 40px;
    background-color: map-get($OCM-colors, navBarDarkBackground);
    &--brand {
        display: flex;
        justify-content: space-between;
        &--logo {
            height: 30px;
            width: 30px;
            vertical-align: middle;
            background: url("../../../assets/img/logoOCMyellow.svg") no-repeat center center;
            background-size: contain;
            margin-left: 20px;
            margin-right: 5px;
            margin-top: 5px;
            &:hover {
                transform: scale(1.2);
            }
        }
        &--text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            color: white;
            font-size: 10px;
            font-weight: bold;
            margin-right: 20px;
        }
    }
    &--titulo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: white;
        @include fluid-type($min_width, $max_width, $min_font, $max_font);
        font-weight: bold;
    }
    &--home {
        display: flex;
        justify-content: right;
        color: white;
        width: 280px;
    }
}

.OCM-logoHome {
    height: 30px;
    width: 30px;
    display: inline-block;
    vertical-align: middle;
    background: url("../../../assets/img/home.png") no-repeat center center;
    background-size: contain;
    margin-left: 20px;
    margin-right: 15px;
    margin-top: 5px;
}
